/*CSS stylesheet*/
html{
  background-color: orangered;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-color: rgb(52, 12, 128);
  margin: 80px ;
}
div {
  width: 70px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: right;
}
H1::first-line {
  color: green;
  font-variant: large-caps;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20;
  text-align: center;
  font-color: rgb(33, 141, 11);

}
image {
  align-content: center;
  width: 280;
  height: 280 ;
  border-image: 275;
  padding-top: 75px;
 

}
a:link {color: green;}
a:hover {color: green;}